{% extends "base.html" %}
{% block content %}
<div class="custom_container">
    <h1 class="h1_custom">Announcements</h1>
    <div class="announcements-container">
        <!-- Class Announcements Bar -->
        <div class="announcements-bar">
            <h2>Class Announcements</h2>
            <div class="announcements">
                {% for announcement in class_announcements %}
                <div class="announcement-item">
                    <h3>{{ announcement.title }}</h3>
                    <p>{{ announcement.content }}</p>
                    <div class="announcement-info">
                        <div class="avatar-info">
                            <img src="{{ announcement.teacher_image_url }}" alt="Teacher Image">
                            <div class="avatar-name">{{ announcement.teacher_name }}</div>
                        </div>
                        <div class="announcements-time">{{ announcement.created_at.strftime('%Y-%m-%d %H:%M') }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- General Announcements Bar -->
        <div class="announcements-bar">
            <h2>General Announcements</h2>
            <div class="announcements">
                {% for announcement in general_announcements %}
                <div class="announcement-item">
                    <h3>{{ announcement.title }}</h3>
                    <p>{{ announcement.content }}</p>
                    <div class="announcement-info">
                        <div class="avatar-info">
                            <img src="{{ announcement.author_image_url }}" alt="Author Image">
                            <div class="avatar-name">{{ announcement.author_name }}</div>
                        </div>
                        <div class="announcements-time">{{ announcement.created_at.strftime('%Y-%m-%d %H:%M') }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Include your JavaScript file -->
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
