/* Custom Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* This font is close to what Notion uses */
    background-color: #ffffff; /* White background */
  }
  
  h1, h2 {
    color: #000000; /* Black text */
  }
  
  .container {
    max-width: 960px; /* Centered container with a max-width */
  }
  
.custom_container{
  background-color: #2e395d;
  color: white;
  padding: 2rem;
  border-radius: .75rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.h1_custom {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.announcements {
  max-width: 450px;

}

.announcement-item {
  background-color: #202a47;
  color: white;
  padding: 1rem 1.25rem;
  display: grid;
  grid-template-columns: 80% 20%;
  row-gap: 10px;
  position: relative;
  border-radius: 0.5rem;
}

.announcement-item.hide{
  display: none;
}

.announcement-item h2{
  color: white;
  font-size: 1.15rem;
}

.announcement-item .dots{
  cursor: pointer;
  color: #7984ab;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: -5px;
  right: 25px;
}

.announcement-item .avatar-info{
  grid-column: 1 / 2; 
  display: flex;
  align-items: center;
  gap: 12px;
}

.announcement-item .avatar-info img{
  width: 40px;
  height: 40px;
  border: 3px solid #8893bc;
  border-radius: 50%;
}

.announcement-item .avatar-info .avatar-name {
  color:#8893bc;
  font-size: .9rem;
  font-weight:bold;
}

.announcement-item .announcement-time {
  color: #7984ab;
  font-size: .9rem;
}

button {
  color:#ffffff;
  cursor: pointer;
  background-color: #4a9bff;
  font-weight: bold;
  padding: .75rem 2rem;
  width: max-content;
  align-self: center;
  border-radius: .25rem;
  border: 0;
}

button:hover{
  background-color: #6eafff;
}

#dismiss-all-btn{
  margin-top: 12rem;
}

#dismiss-all-btn.hide{
  display:none;
}

#reset-btn{
  display: none;
}

#reset-btn.show{
  display: block;
  margin-top: 6rem;
}